<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.yu.lib_splash">

    <application>
        <activity android:name=".activitys.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
